.meetingPage {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.meetingPage > .black {
    background-color: rgb(0, 0, 0);
    opacity: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transform: translateY(-105px);

}



.meetingPageText {
    font-size: 36px;
}

.meetingPage > .meetingDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.meetingPage > .meetingDiv > .inviteUser {
    position: absolute;
    margin: 20px;
    padding: 20px;
    width: 300px;
    z-index: 2;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.meetingPage > .meetingDiv > .inviteUser > p {
    font-size: 24px;
    margin: 8px;
}



.meetingPage > .meetingDiv > .meeting {
    max-width: 80%;
    margin: 20px;
    width: 600px;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.meetingPage > .meetingDiv > .meeting > .name {
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    margin: 12px;
}


.meetingPage > .meetingDiv > .meeting > .meetingInfo > {
    display: flex;
    justify-content: center;
}



.meetingHr {
    display: flex;
    align-items: center; 
    justify-content: center ;  
}

.meetingHr > hr {
    width: 80%;
    height: 0.02vw;
    border: none;
    background-color: #ECECEC;
}



.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingDateText {
    font-size: 21px;
    margin: 24px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingPlaceText {
    font-size: 21px;
    margin: 18px 0px 12px 0px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingPlace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingPlace > img {
    max-width: 40%;
    border-radius: 12px;
    margin: 12px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingPlace > .meetingPlaceDesc {
    text-align: center;
    max-width: 60%;
    margin: 16px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingPlace > .meetingPlaceDesc > i > .meetingPlaceTextHeader {
    font-size: 21px;
    margin-bottom: 12px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingPlace > .meetingPlaceDesc > I > .meetingPlaceTextContent {
    font-size: 14px;
    margin: 2px;
}



.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingMembersHeader {
    margin: 16px 0px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingMembersHeader > .meetingMembersText {
    font-size: 21px;
    margin-bottom: 4px;
}

.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingMembersHeader > .meetingMembersInvite {
    width: fit-content;
    height: fit-content;
    border-color: #E9E9E9;
    border-style: none;
    border-radius: 8px;
    padding: 6px 6px;
    margin: 8px 8px 8px 8px;
    font-size: 16px;
    background-color: #067BE2;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}



.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingMembersHeader > .meetingMembersInvite:hover {
    opacity: 75%;
}


.meetingPage > .meetingDiv > .meeting > .meetingInfo > .meetingMembers {
}




.meetingPage > .meetingDiv > .meetingChat{
    max-width: 80%;
    margin: 20px;
    width: 400px;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}


.meetingPage > .meetingDiv > .meetingChat > p {
    margin: 12px;
    font-size: 21px;
}





.meetingPage > .meetingDiv > .meeting > input[type="button"] {
    width: fit-content;
    border-color: #E9E9E9;
    border-style: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 16px !important;
    margin: 12px;
    background-color: #067BE2;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.meetingPage > .meetingDiv > .meeting > input[type="button"]:hover {
    opacity: 75%;
}

.meetingPage > input[type="text"] {
    width: 260px;
    font-size: 18px;
    margin: 0px 12px;
    padding: 8px;
    border-radius: 6px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.meetingPage > input[id="cancel"] {
    color: black !important;
    background-color: #f0f0f0 !important;
    border-style: solid !important;
    border-color: #E9E9E9 !important;
    border-width:  0.1vw !important;
    background-color: #f0f0f0 !important;
    padding: 8px 12px !important;
}

.meetingPage > input[type="button"] {
    width: fit-content;
    border-color: #E9E9E9;
    border-style: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 16px;
    margin: 12px;
    background-color: #067BE2;
    color: white;
    transition: 0.2s;
}

.meetingPage > input[type="button"]:hover {
    opacity: 75%;
    cursor: pointer;
}

.meetingPage > input[id="cancel"]:hover {
    opacity: 75%;
    cursor: pointer;
}