.addPostPage {
    width: 100%;
    margin: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPostPage > .addPost {
    width: 760px;
    max-width: 78%;
    background-color:white;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    text-align: center;
}


.addPostPage > .addPost > .addPostText {
    font-size: 36px;
    margin: 20px 0px;
    display: inline-block;
}

.addPostPage > .addPost > form > .addPostForm > div {
    width: 100%;
}

.addPostPage > .addPost > form > .addPostForm > .addPostFormSubmit {
    display: flex;
    justify-content: end;
}



.addPostFormSubmit > input {
    border-radius: 12px;
    width: fit-content;
    border-width: 0px;
    padding: 10px 15px;
    margin: 24px;
    transition: 0.2s;
    background-color: #067BE2;
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.addPostFormSubmit > input:hover {
    opacity: 75%;
}

.addPostFormText > textarea {
    max-width: 80%;
    min-width: 60%;
    resize: none;
    overflow:hidden;
    font-style: italic;
    border-radius: 12px;
    font-size: 24px;
    margin: 10px 5px;
    padding: 15px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.addPostFormText > textarea[name="header"] {
    height: 32px;
    width: 70%;
}

.addPostFormText > textarea[name="content"] {
    height: 120px;
    width: 85%;
}