
.post {
    background-color: white;
    width: 700px;
    max-width: 100%;
    height: fit-content;
    margin: 20px 0px;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}



.post > .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > .postTop > .postAuthor > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}


.post > .postTop > .postAuthor > a > img {
    border-radius: 12px;
    border-color:#ECECEC;
    border-width: 0.01vw;
    border-style: solid;
    width: 42px;
    margin: 16px 8px 16px 16px;
    cursor: pointer;
}

.post > .postTop > .postAuthor > a >  p {
    font-size: 21px;
    margin: 2px 2.5px;
    cursor: pointer;
}


.post > .postTop > .postDots > img {
    cursor: pointer;
    margin: 18px 20px 18px 18px;
    width: 32px;
    transition: 0.2s;
}

.post > .postTop > .postDots > img:hover {
    opacity: 75%;
}

.post > .postTop > .postDots > .dotsMenu {
    position: absolute;
}

@keyframes fade-in {
    from {opacity: 0%; margin-top: 0px;}
    to {opacity: 100%; margin-top: 2px;}
}

.post > .postTop > .postDots > .dotsMenu > .dotsMenuButton {
    background-color: white;
    animation: fade-in 0.1s ease-in;
    padding: 8px;
    margin: 2px;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;   
    cursor: pointer; 
}

.post > .postHr {
    display: flex;
    align-items: center; 
    justify-content: center ;  
}

.post > .postHr > hr {
    width: 95%;
    height: 0.05vw;
    border: none;
    background-color: #ECECEC;
}



.post > .postHeader {
    display: flex;
    align-items: center;
    text-align: left !important;
}

.post > .postHeader > p {
    font-size: 38px;
    margin: 10px 0px 4px 24px;
}



.post > .postContent {
    display: flex;
    align-items: center;
    text-align: left !important;
}

.post > .postContent > p {
    white-space: pre-line;
    font-size: 26px;
    margin: 4px 24px 16px 26px;
}



.post > .postLike {
    display: flex;
    align-items: center;    

}

.post > .postLike > img {
    margin: 18px 8px 18px 20px;
    cursor: pointer;  
    transition: 0.2s;
    filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(16%) hue-rotate(74deg) brightness(89%) contrast(89%);
}

.post > .postLike > .blue {
    filter: brightness(0) saturate(100%) invert(35%) sepia(39%) saturate(5441%) hue-rotate(192deg) brightness(96%) contrast(95%);
}



.post > .postLike > img:hover {
    opacity: 75%;
    transform: rotateZ(-15deg) scale(1.2);
}

.post > .postLike > p {
    height: fit-content;
    font-size: 24px;
    color:#067BE2;
}

.blue {
    color:#067BE2;
}



.post > .postComment {
    display: flex;
    align-items: center;
}

.post > .postComment > input {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 16px 4px 12px 16px;
    width: 100%;
    padding: 5px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    border-radius: 0.4vw;
    background-color: #f0f0f0;
}

.post > .postComment > i {
    cursor: pointer;
    transition: 0.2s;
    color: #067BE2;
    margin: 16px 16px 12px 12px;
}

.post > .postComment > i:hover {
    opacity: 75%;
}
