.user {
    background-color: #f9f8f8;
    border-color: #f3f3f3;
    border-width: 0.1vw;
    border-style: solid;
    padding: 0px 0px 0px 16px;
    margin: 12px 0px;
    border-radius: 12px;
}

.user > .userTop {
    display: flex;
    align-items: center;
}

.user > .userTop > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.user > .userTop > img {
    border-radius: 8px;
    width: 26px;
    margin: 16px 12px 16px 12px;
    border-radius: 0.5vw;
    border-color:#ECECEC;
    border-width: 0.05vw;
    border-style: solid;
    cursor: pointer;
}

.user > .userTop > .userInfo {
}

.user > .userTop > .userInfo > p {
    font-size: 18px;
    margin: 2px 2.5px;
    cursor: pointer;
    text-align: left;
}

.user > .userTop > .userInfo > .userEmail {
    font-size: 14px;
    color: #808080;
}

