.mapPage {
    width: 100%;
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.mapPage > .mapPageText {
    font-size: 36px;
}

.mapPage > .mapDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.map {
    width: 600px;
    max-width: 80% !important;
    height: 450px;
    border-color: #E9E9E9 !important;
    border-width: 1px !important;
    border-style: solid !important;
    transition: 0.75s;
}

.map-bigger {
    width: 920px !important;
    height: 640px !important;
    border-color: #dad9d9 !important;
}

.mapPage > .nearPlacesText {
    font-size: 36px;
    margin: 20px;
}

.mapPage > .nearPlacesDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mapPage > .nearPlacesDiv > .nearPlaces {
    width: 600px;
    max-width: 85%;
}


.mapPage > .nearPlacesSearch { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.mapPage > .nearPlacesSearch > input[type="text"] {
    width: 420px;
    font-size: 24px;
    margin: 8px;
    padding: 8px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.mapPage > .nearPlacesSearch > input[type="button"] {
    width: 180px;
    font-size: 24px;
    margin: 8px;
    padding: 8px;
    transition: 0.2s;
    background-color: #067BE2;
    border-radius: 8px;
    border-width: 0px;
    color: white;
}

.mapPage > .nearPlacesSearch > input[type="button"]:hover {
    opacity: 75%;
    cursor: pointer;
}
