.mapPage {
    width: 100%;
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.mapPage > .mapPageText {
    font-size: 36px;
}

.mapDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.map {
    border-radius: 16px;
    width: 700px;
    height: 500px;
    border-color: #E9E9E9;
    border-width: 1px;
    border-style: solid;
}
