.modal {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.logPage {
    width: 30vw;
    height: 65vh;
    background-color: white;
    border-radius: 6px;
    border-color: #E9E9E9;
    border-width: 0.75px;
    border-style: solid;
    padding: 4px;
    text-align: center;
}


.logDiv {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logFormDiv {
    width: 100%;
    background-color: white;
}

.logForm {
    margin-bottom: 1vw;
}

.logXDiv {
    display: flex;
    justify-content: end;
}

.logX {
    text-decoration: none;
    color: #067BE2;
    margin: 1vw;
    font-size: 1.5vw;
}


.logFormTitle {
    width: 100%;
    margin: 12px 0px 16px 0px;
    display: flex;
    justify-content: center;
}

.logFormTitle > .logFormTitleText {
    font-size: 2vw;
}


.logFormDiv > form {
    text-align: center;
}

.logRegDiv {
    text-align: center;
}

.logRegDiv > p {
    color: #989898;
    font-size: 1.25vw;
    margin-top: 2vw;
}

hr {
    height: 1px;
    border: none;
    background-color: #ECECEC;
}

input {
    border-radius: 8px;
}

input[type="text"] {
    font-size: 1vw;
    margin: 12px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width: 0.75px;
    background-color: #f0f0f0;
}

input[type="email"] {
    font-size: 1vw;
    margin: 12px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width: 0.75px;
    background-color: #f0f0f0;
}

input[type="submit"] {
    border-width: 0px;
    padding: 8px;
    margin: 24px 2px 24px 4px;
    max-width: 30%;
    transition: 0.2s;
    background-color: #067BE2;
    color: white;
    font-size: 1vw;
}

input[type="button"] {
    border-width: 0px;
    padding: 8px;
    margin: 24px 2px 16px 4px;
    max-width: 20%;
    transition: 0.2s;
    background-color: #f0f0f0;
    color: black;
    font-size: 1vw;
}

input[type="submit"]:hover {
    opacity: 75%;
}

input[type="button"]:hover {
    opacity: 75%;
}

