.logPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.logForm {
    width: 320px;
    background-color: white;
    border-radius: 8px;
}

.modal {
    width: 100%;
}


.logFormTitle {
    width: 100%;
    margin: 12px 0px 16px 0px;
    display: flex;
    justify-content: center;
}

.logFormTitle > .logFormTitleText {
    font-size: 21px;
}


.logForm > form {
    text-align: center;
}

input {
    padding: 6px;
    width: 60%;
    border-radius: 8px;
}

input[type="text"] {
    margin: 7px;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 0.75px;
}

input[type="email"] {
    margin: 7px;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 0.75px;
}

input[type="submit"] {
    border-width: 0px;
    padding: 6px;
    margin: 12px 0px 16px 0px;
    max-width: 40%;
    transition: 0.3s;
    background-color: #067BE2;
    color: white;
}

input[type="submit"]:hover {
    opacity: 75%;
}
