.modal {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    width: fit-content;
    transform: translateX(100%);
    outline-style: none;
}

.logPage {
    width: 30vw;
    height: fit-content;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    padding: 1vw;
    text-align: center;
}

.logDiv {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logFormDiv {
    width: 100%;
    background-color: white;
}

.logForm {
    margin-bottom: 2vw;
}

.logFormButtonsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logFormButtons {
    width: 24vw;
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logFormButtons > * {
    margin: 1.5vw 1vw 1.5vw 1vw;
}

.logFormButtons > p {
    color: #067BE2;
    font-size: 1.045vw;
    transition: 0.2s;
}

.logFormButtons > p:hover {
    opacity: 75%;
    cursor: pointer;
}


.logXDiv {
    display: flex;
    justify-content: end;
}

.logX {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logX > img {
    width: 0.95vw;
    filter: invert(37%) sepia(48%) saturate(6009%) hue-rotate(193deg) brightness(97%) contrast(95%);
}

.logFormTitle {
    width: 100%;
    padding: 2.2vw 0vw 1.6vw 0vw;
    display: flex;
    justify-content: center;
}

.logFormTitle > .logFormTitleText {
    font-size: 2vw;
}


.logFormDiv > form {
    text-align: center;
}

.logRegDiv {
    text-align: center;
    margin-bottom: 2vw;
}

.logRegDiv > p {
    color: #989898;
    font-size: 1.25vw;
    margin-top: 4vw;
}

.logPage > hr {
    height: 0.05vw;
    border: none;
    background-color: #ECECEC;
}


.logForm > input {
    border-radius: 0.65vw;
}

.logFormButtons > input {
    border-radius: 0.65vw;
}

.logRegDiv > input {
    border-radius: 0.65vw;
}


.logFormError {
    margin: 0.2vw 0vw 1.2vw 0vw;
}

.logFormError > .logFormErrorText {
    font-size: 1.1vw;
    color: red;
    font-weight: 600;
    font-style: italic;
}


.logForm > input[type="password"] {
    width: 15vw;
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.6vw;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.logForm > input[type="email"] {
    width: 15vw;
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.6vw;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.logFormButtons > input[type="submit"] {
    width: fit-content;
    border-width: 0px;
    padding: 0.55vw 1.2vw 0.55vw 1.2vw !important;
    margin: 0.6vw;
    transition: 0.2s;
    background-color: #067BE2;
    color: white;
    font-size: 1vw;
}

.logRegDiv > input[type="button"] {
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    padding: 0.55vw 1.2vw 0.55vw 1.2vw !important;
    margin: 1.3vw;
    width: fit-content;
    transition: 0.2s;
    background-color: #f0f0f0;
    color: black;
    font-size: 1vw;
}

.logFormButtons > input[type="submit"]:hover {
    opacity: 75%;
    cursor: pointer;
}

.logRegDiv > input[type="button"]:hover {
    opacity: 75%;
    cursor: pointer;
}

