@media only screen and (max-width: 812px) {
    .notificationPage {
        justify-content: center;
    }
    .notification {
        width: 600px;
        max-width: 60%;
        padding: 12px;
    }
}

@media only screen and (min-width: 812px) {
    .notificationPage {
        justify-content: end;
    }
    .notification {
        width: 400px;
        max-width: 40%;
        padding: 10px;
    }
}


.notificationPage {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    position: absolute;
}

.notification {
    background-color: white;
    text-align: center;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.notification > p {
    font-size: 21px;
}