.homePage {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.homePageText {
    font-size: 36px;
}

.homePage > .homePagePostsDiv {
    width: 100%;
    display: flex;
    justify-content: center;

}
.homePage > .homePagePostsDiv > .homePagePosts {
    width: fit-content;
    max-width: 80%;
}