.navbar {
    width: 100%;
    background-color: white;
    display: flex; 
    justify-content: space-between;
    border-color: #E9E9E9;
    border-width: 0.5px;
    border-style: solid;
}

@media only screen and (max-width: 812px) {
    .navbar > .navbar-mobile {
        display: flex;
    }
    .navbar > .navbar-left {
        display: none;
    }
    .navbar > .navbar-right {
        display: none;
    }
}

@media only screen and (min-width: 812px) {
    .navbar > .navbar-mobile {
        display: none;
    }
    .navbar > .navbar-left {
        display: flex;
    }
    .navbar > .navbar-right {
        display: flex;
    }
}

.navbar > div {
    margin: 4px;
}

.navbar > .navbar-mobile > div > img {
    width: 42px;
    margin: 8px 8px 8px 0px;
}

.navbar > div > div {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 200px;
    margin: 6px 8px 6px 8px;
    padding: 8px 18px 8px 18px;
    transition: 0.3s;
}

.navbar > .navbar-left > div {
    border-radius: 6px;
    border-color: #E0E0E0;
    border-width: 0.5px;
    border-style: solid;
}

.navbar > .navbar-left > div > img {
    filter: invert(35%) sepia(39%) saturate(5441%) hue-rotate(192deg) brightness(96%) contrast(95%);
    width: 21px;
    margin: 8px 8px 8px 0px;
}

.navbar > .navbar-right > div > img {
    height: 42px;
}


.navbar > div > div > .navlink {
    text-decoration: none;
    color: black;
    font-size: 26px;
}


.navbar > div > div:hover {
    opacity: 60%;
    cursor: pointer;
}



