.navbar {
    width: 100%;
    background-color: white;
    display: flex; 
    justify-content:space-between;
}

@media only screen and (max-width: 500px) {
}

.navbar > div {
    display: flex;
    margin: 2px;
}

.navbar > div > div {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 100px;
    margin: 6px 8px 6px 8px;
    padding: 4px 12px 4px 12px;
    transition: 0.3s;
}

.navbar > .navbar-left > div {
    border-radius: 6px;
    border-color: #E0E0E0;
    border-width: 0.75px;
    border-style: solid;
}

.navbar > div > div > .navlink {
    text-decoration: none;
    color: black;
}


.navbar > div > div:hover {
    opacity: 60%;
}